<% layout('/layouts/boilerplate') %>
    
    <h1>Here are the list of avaliable Location </h1>
          
    <div class="row row-cols-lg-3 row-cols-md-2 row-cols-sm-1">
        <% list.forEach(function (l){%>
     <main class="p-3 m-0 border-0 bd-example m-0 border-0" id="singelCard">
        <a href="/showall/<%=l.id%>" class="showOne">
    <div class="card" style="width: 22rem;">
    <img src="<%= l.Image.url %>" class="card-img-top" alt="<%= l.title %>" style="height: 18rem;">
     <h5 class="card-title"> <%= l.title%></h5>
    <p class="card-p">&#x20B9 <%= l.price %> per night</p>
    </div>
     </a>
  </main>
<% });%>
    </div>
 
    <!-- .toLocaleString("en-IN") -->







     